body {
  background-image: url(simon-berger-twukN12EN7c-unsplash.jpg);
  background-size: 100%;
  /* position: absolute; */
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.dark {
  background-image: url(eberhard-grossgasteiger-6fCfkt11-eQ-unsplash.jpg);
  background-size: cover;
/* position: relative;  
  color:rgb(224, 244, 250);
  /* text-decoration: underline; */
}

/* header{
  display: flex;
  margin-top: -80px;
} */

div{
  display: flex;
  flex-direction: row;
justify-content: space-around;

}
/* header{
  justify-content: space-between;
  margin-right: 70%;
} */


.sun{
  font-size: 40px;
margin-left: 92%;
}