body {
  background-image: url(simon-berger-twukN12EN7c-unsplash.jpg);
  background-size: 100%;
  /* position: absolute; */
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.dark {
  background-image: url(eberhard-grossgasteiger-6fCfkt11-eQ-unsplash.jpg);
  background-size: cover;
  /* position: absolute; */
  color:rgb(224, 244, 250);
  /* text-decoration: underline; */
}

.header{
  border-bottom:solid rgb(224, 244, 250) 2px ;
  border-color: rgb(224, 244, 250);
  border-spacing: 10px;
}

div{
  display: flex;
  flex-direction: row;
justify-content: space-around;

}
header{
  justify-content: space-between;
}

.checkbox input {
  opacity: 0;
  width: 0;
  height: 0;
}

