/* any shared typy face stuff some global colors and the header and footer areas cna be put in here  */
/* this style the light mode background */
body {
  background-image: url(simon-berger-twukN12EN7c-unsplash.jpg);
  background-size: 100%;
  /* position: absolute; */
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}
/* this styles the the title tag so its in the in the middle of the page and styled */
h1 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  text-align: center;
  font-size: 60px;
  margin-top: -2%;
} 


.form{
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5%; 
  font-size:20px;
} 

.dark {
  background-image: url(eberhard-grossgasteiger-6fCfkt11-eQ-unsplash.jpg);
  background-size: cover;
  color: rgb(224, 244, 250);
  /* position: absolute; */

}

#submitButton{
  background-color: #047baa; 
  border: none;
  color: white;
  padding: 1px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
margin: 10px;
  font-size: 16px;}

