/* any shared typy face stuff some global colors and the header and footer areas cna be put in here  */

body {
  background-image: url(simon-berger-twukN12EN7c-unsplash.jpg);
  background-size: 100%;
  position: absolute;
  background-repeat: no-repeat;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} 

h1{
  padding-left: 90%;
}


.dark {
  background-image: url(eberhard-grossgasteiger-6fCfkt11-eQ-unsplash.jpg);
  background-size: cover;
  position: absolute;
}

.checkbox input {
  opacity: 0;
  width: 0;
  height: 0;
}


